<section class="bg-primary.bg-gradient">
	<div class="container-fluid mb-2">
		<div class="row ms-5">
			<div class="col-md-3 justify-content-center">
				<img class="img-fluid my-5 rounded" style="width: 300px;" src="../../../assets/images/fisio.jpg" alt="">
			</div>
			<div class="col-md-3 align-self-center">
				<h3>Vicente Quiles Robles</h3>
				<p class="my-0">Fisioterapeuta colegiado nº 2761</p>
				<p class="my-0">Ecografía músculo esquelética</p>
				<p class="my-0">Terapia manual y osteopatía</p>
                <p class="my-0">Técnicas invasivas (Electrólisis, EPTE® punción seca, neuromodulación…)</p>
                <p class="my-0">Vendaje funcional</p>
                <p class="my-0">Trastornos ATM (articulación temporomandibular)</p>
			</div>
			<div class="col-md-3">
				<img class="img-fluid my-5 rounded" style="width: 300px;" src="../../../assets/images/fisioterapeutaPelvico.jpg" alt="">
			</div>
			<div class="col-md-3 align-self-center">
				<h3>Rosa María Romero</h3>
				<p class="my-0">Fisioterapeuta colegiada nº 7802</p>
				<p class="my-0">Especialista en suelo pélvico</p>
				<p class="my-0">Colaborando en diferentes clínicas:</p>
                <ul>
                    <li>Bétera Salud (Bétera)</li>
                    <li>Clínica ELMAR (Ribarroja)</li>
                    <li>Clínica Kinesia (Llíria)</li>
                </ul>
			</div>
		</div>
		<div class="row ms-5">
			<div class="col-md-3 justify-content-center">
				<img class="img-fluid my-5 rounded" style="width: 300px;" src="../../../assets/images/enfermera.jpg" alt="">
			</div>
			<div class="col-md-3 align-self-center">
				<h3>Eva Santos Tello</h3>
				<p class="my-0">Enfermera colegiada nº 24025</p>
				<p class="my-0">Postgrado Genética Médica por la UV</p>
				<p class="my-0">Experta en urgencias y emergencias hospitalarias</p>
                <p class="my-0">Curso de Atención de enfermería en Traumatología y Rehabilitación </p>
                <p class="my-0">Curso de Enfermería Deportiva</p>
                <p class="my-0">Curso operador de Rayos X</p>
			</div>
			<div class="col-md-3 justify-content-center">
				<img class="img-fluid my-5 rounded" style="width: 300px;" src="../../../assets/images/podologa.jpg" alt="">
			</div>
			<div class="col-md-3 align-self-center">
				<h3>María Vicenta Duato Cárcel</h3>
				<p class="my-0">Podóloga colegiada nº 838463613</p>
				<p class="my-0">Podóloga universidad de Valencia</p>
				<p class="my-0">Postgrado Patomecànica del peu por la Universidad de Barcelona</p>
			</div>
		</div>
	</div>
</section>
