<section class="bg-primary.bg-gradient">
<div class="container-fluid mt-5">
    <div class="row ms-5">
        <div class="col-md-3 justify-content-center">
            <img class="img-fluid my-5 rounded" style="width: 300px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTf2E0S7aIzneNj-NYcPsAtM2PQo6-6JX1Egw&usqp=CAU" alt="">
        </div>
        <div class="col-md-3 align-self-center">
            <h3>Vicente Quiles Robles</h3>
            <p class="my-0">Fisioterapeuta</p>
            <p class="my-0">Osteopata</p>
            <p class="my-0">Especialista en ecografía</p>
        </div>
        <div class="col-md-3">
            <img class="img-fluid my-5 rounded" style="width: 300px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm6Vq9mWGYxHChxSIx58ZmB9siAIthVqzvxA&usqp=CAU" alt="">
        </div>
        <div class="col-md-3 align-self-center">
            <h3>Vicente Quiles Robles</h3>
            <p class="my-0">Fisioterapeuta</p>
            <p class="my-0">Osteopata</p>
            <p class="my-0">Especialista en ecografía</p>
        </div>
    </div>
    <div class="row ms-5">
        <div class="col-md-3 justify-content-center">
            <img class="img-fluid my-5 rounded" style="width: 300px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMCQU-BbUBZxxJPy-elOHwK7i5wPIN6-EGsXmj5b1dU_nqg3zK99D4zTGczdl1oSzUhK8&usqp=CAU" alt="">
        </div>
        <div class="col-md-3 align-self-center">
            <h3>Vicente Quiles Robles</h3>
            <p class="my-0">Fisioterapeuta</p>
            <p class="my-0">Osteopata</p>
            <p class="my-0">Especialista en ecografía</p>
        </div>
        <div class="col-md-3 justify-content-center">
            <img class="img-fluid my-5 rounded" style="width: 300px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjhxS26nDKUvQriV-T4W1JUMWj0sNAT8-sHBq3s21vfEivV7bDXWSBhQVv5AK0S7YGxeo&usqp=CAU" alt="">
        </div>
        <div class="col-md-3 align-self-center">
            <h3>Vicente Quiles Robles</h3>
            <p class="my-0">Fisioterapeuta</p>
            <p class="my-0">Osteopata</p>
            <p class="my-0">Especialista en ecografía</p>
        </div>
    </div>
    <div class="row justify-content-center ms-5">
        <div class="col-md-3">
            <img class="img-fluid my-5 rounded" style="width: 300px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHENV500I_i26nWmZvH0i44taOj279h7QDdV3PdBRyBpS6meQEW929gdUEVJd-VV6BYBI&usqp=CAU" alt="">
        </div>
        <div class="col-md-3 align-self-center">
            <h3>Vicente Quiles Robles</h3>
            <p class="my-0">Fisioterapeuta</p>
            <p class="my-0">Osteopata</p>
            <p class="my-0">Especialista en ecografía</p>
        </div>
    </div>
</div>
</section>

