section{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQG-EacWoeCkNJE-QVC3SsE1I7z1RpGiORI-A&usqp=CAU");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}