<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
                <div class="ms-5 ps-5">
				    <h1 class="text-primary ps-5">Ubicación</h1>
				    <p class="ps-5">Carrer Colón, nº 18, Bajo Izq</p>
				    <p class="ps-5">46160 Llíria, Valencia</p>
				    <p class="ps-5">Teléfono: 620 247 816</p>
                </div>
				<div class="map-container">
					<iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps?q=Carrer%20Col%C3%B3n,%20n%C2%BA%2018,%20Bajo%20Izq,%2046160%20Ll%C3%ADria,%20Valencia&output=embed" allowfullscreen></iframe>
				</div>

			</div>
			<div class="col-md-6">
                <div class="ms-5 ps-5">
				    <h1 class="text-primary">Horario</h1>
				    <p>Lunes 08h a 13h - 16h a 20h</p>
				    <p>Martes 08h a 13h - 16h a 20h</p>
				    <p>Miércoles 08h a 13h - 16h a 20h</p>
				    <p>Jueves 08h a 13h - 16h a 20h</p>
				    <p>Viernes 08h a 13h - 16h a 20h</p>
                </div><br><br>
                <div class="ms-5 ps-5">
				    <h1 class="text-primary">Redes Sociales</h1>
				    <a  href="#"><img class="icono" src="../../../assets/images/icons8-facebook-48.png" alt="">Facebook</a><br>
				    <a  href="#"><img class="icono" src="../../../assets/images/icons8-instagram-48.png" alt="">Instagram</a><br>
				    <a  href="#"><img class="icono" src="../../../assets/images/icons8-twitter-48.png" alt="">Twitter</a>
                </div>
			</div>
		</div>
	</div>
</section>
