<article class="mb-5 px-4">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 mt-5 mb-4">
                <img src="../../../assets/images/tratamientoPodología.jpg" class="img-fluid" alt="">
				<ul>
					<li>Quiropodía</li>
					<li>Callos y durezas</li>
					<li>Uñas encarnadas</li>
					<li>Verrugas y hongos</li>
					<li>Estudio de la pisada</li>
					<li>Plantillas</li>
					<li>Podología geriátrica e infantil</li>
				</ul>
			</div>
			<div class="col-md-6 mt-5">
				<h1 class="text-primary">TRATAMIENTO DE PODOLOGÍA</h1>
				<p>En nuestro servicio de podología, puedes encontrar solución a múltiples problemas, con un servicio avanzado y que es capaz de tratar muy diversas afecciones de los pies.</p>
                <p>Si sufres de duricias, uñas encarnadas, fascitis, hongos, pies planos/cavos, juanetes, metatarsalgias, dolor en planta del pie… nuestros profesionales valorarán tu caso individualmente decidiendo el mejor abordaje. También ofrecemos un servicio de estudio de la pisada y la posibilidad de realizar plantillas para diferentes ámbitos (laboral, deportivo, del día a día…). Cuéntanos tu caso e intentaremos darle la mejor solución posible.</p>
                <img src="../../../assets/images/podología (1).jpg" class="img-fluid" alt="">
			</div>
		</div>
	</div>
</article>



