<article class="mb-5 px-4">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 mt-5">
				<img src="../../../assets/images/enfermeria.jpg" class="img-fluid" alt="">
			</div>
			<div class="col-md-6 mt-5">
				<h1 class="text-primary">TRATAMIENTO DE ENFERMERÍA</h1>
				<p>Nuestro servicio de enfermería permite la posibilidad de realizar análisis de sangre (tanto privados como de aseguradora), curas, inyectables y muchos otros servicios.</p>
                <p>Si tienes alguna duda contacta con nosotros y te informaremos de todo.</p>
                <img src="../../../assets/images/analisis.jpg" class="img-fluid" alt="">
			</div>
		</div>
	</div>
</article>




